/* styles.css */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


/* Apply styles to the body or specific elements */
body {
    font-family: Roboto, sans-serif;
    background-color: #DCBEBE;
}

.container {
    max-width: 800px;
    /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Tangerine', cursive;
    color: #320011;
    /* color for the heading */
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.nav-bg-lt {
    background-color: #e8dfdf !important;
    border-radius: 12px;
    margin: 0 4px 0 4px;
    font-weight: 600;
}

p a {
    color: #320011;
}

p a:hover {
    color: #57021e;
}

p i {
    color: #320011;
}

p i:hover {
    color: #57021e;
}

h2 {
    padding-top: 2rem;
}

.card {
    background-color: #DCBEBE;
    border: none;
}

.location-name a {
    color: #320011;
}

.location-name a:hover {
    color: #57021e;
}

#coords {
    display: none;
}

#map {
    height: 300px;
    width: 300px;
}

p.lead {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

a.btn-primary,
.btn-detail-submit {
    background-color: #320011;
    /* color for the button */
    border: none;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.btn-primary:hover,
.btn-detail-submit:hover {
    background-color: #57021e;
    /* color on hover */
}

.btn-primary {
    background-color: #320011;
    /* color for the button */
    border: none;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #57021e;
    /* color on hover */
}

.text-right.small {
    color: #6c757d;
    /* Gray color for the background note */
    font-size: 0.8rem;
    margin-top: 10px;
}

.img-border {
    border-color: #e8dfdf;
}

/* Search bar */

.search-wrapper {
    max-width:  450px;
    margin:  10px auto;
  }
  .search-input {
    background: #fff;
    width:  100%;
    border-radius:  5px;
    position: relative;
    box-shadow:  0px  1px  5px  3px rgba(0,  0,  0,  0.12);
  }
  .search-input input {
    height:  55px;
    width:  100%;
    outline: none;
    border: none;
    border-radius:  5px;
    padding:  0  60px  0  20px;
    font-size:  18px;
    box-shadow:  0px  1px  5px rgba(0,  0,  0,  0.1);
  }
  .search-input .autocom-box {
    padding:  0;
    opacity:  0;
    pointer-events: none;
    max-height:  280px;
    overflow-y: auto;
  }
  .search-input.active .autocom-box {
    padding:  10px  8px;
    opacity:  1;
    pointer-events: auto;
  }
  .autocom-box li {
    list-style: none;
    padding:  8px  12px;
    display: none;
    width:  100%;
    cursor: default;
    border-radius:  3px;
  }
  .search-input.active .autocom-box li {
    display: block;
  }
  .autocom-box li:hover {
    background: #efefef;
  }
  .search-input .icon {
    position: absolute;
    right:  0px;
    top:  17px;
    height:  55px;
    width:  55px;
    text-align: center;
    line-height:  55px;
    font-size:  20px;
    color: #644bff;
    cursor: pointer;
  }

/**Footer*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #320011;
    line-height: 1.5rem;
    padding-block: 0.5rem;

    & ul {
        --_gap: 2rem;
        width: 100%;
    }

    & li {
        padding-inline: 1rem;
    }

    & a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--light);
    }
}

.footer-text {
    color: #e8dfdf;
    padding: 0.3rem;
}

.copyright {
    padding: 1rem 0;
}

/* Media queries for responsiveness (optional) */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p.lead {
        font-size: 1rem;
    }
}


@media (min-width: 1200px) {
    .nav-bg-lt {
        margin-top: 25px;
    }
}