/* styles.css */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


/* Apply styles to the body or specific elements */
body {
    font-family: Roboto, sans-serif;
    background-color: #DCBEBE; /* Set background color to DCBEBE */
}

.container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: "Tangerine", cursive;
    color: #320011; /* Set heading color to 320011 (deep maroon) */
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p.lead {
    color: #333; /*colour for mission statement*/
    font-size: 1.2rem;
    margin-bottom: 30px;
}

a.btn-primary {
    background-color: #320011; /* color for the button */
    border: none;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.btn-primary:hover {
    background-color: #DCBEBE; /* Slightly darker green on hover */
}

.text-right.small {
    color: #6c757d; /* Gray color for the background note */
    font-size: 0.8rem;
    margin-top: 10px;
}

/* Add any additional styles you need */

/* Media queries for responsiveness (optional) */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    p.lead {
        font-size: 1rem;
    }
}/* styles.css */

h1 {
    font-family: 'Valentine', sans-serif;
    /* Other styles for the title */
}

/* Apply styles to the body or specific elements */
body {
    font-family: Roboto, sans-serif;
    background-color: #f8f9fa; /* Set your desired background color */
}

.container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #320011; /* color for the heading */
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p.lead {
    color: #333; /* Dark gray color for the mission statement */
    font-size: 1.2rem;
    margin-bottom: 30px;
}

a.btn-primary {
    background-color: #333; /* color for the button */
    border: none;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.btn-primary:hover {
    background-color: #f0f4f1; /* color on hover */
}

.text-right.small {
    color: #6c757d; /* Gray color for the background note */
    font-size: 0.8rem;
    margin-top: 10px;
}

/* Add any additional styles you need */

/* Media queries for responsiveness (optional) */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    p.lead {
        font-size: 1rem;
    }
}
