{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="container">
        <div class="row">
            <div class="card detail-card-bg">
                <div class="card-body">
                    <h1>{{ location.name }}</h1>
                    <p>Average score:
                        {% for i in ''|center:5 %}
                            {% if avg_score >= forloop.counter %}
                                <i class="fas fa-heart"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                        {% endfor %}
                        <a href="#reviews">See reviews</a>
                    </p>

                </div>
              </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <img class="img-border img-fluid border border-5" src="{{ location.image }}">
                <p>{{ location.description | safe }}</p>
                <p>{{ location.price }}</p>
                <p>{{ location.duration }}</p>
                <p>{{ location.date }}</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit review</button>
                </form>
            </div>
        </div>

        <div id="reviews"> 
            <h2>Reviews:</h2>
            {% if has_reviews %}
                {% for review in reviews %}
                <div class="card">
                    <div class="card-body">
                    <p>{{ review.name}}</p>
                    <p>{{ review.description }}</p>
                    {% for i in ''|center:5 %}
                                {% if review.rating >= forloop.counter %}
                                    <i class="fas fa-heart"></i>
                                {% else %}
                                    <i class="far fa-heart"></i>
                                {% endif %}
                            {% endfor %}
                </div>
                {% endfor %}
            {% else %}
            <div class="card">
                <strong>No reviews</strong>
                <p>Be the first to review this destination!</p>
            </div>
            {% endif %}
        </div>

        {% endblock content %}