{% extends "base.html" %}

{% block content %}

<body>
    <header>
        <h1>Select your destination</h1>
    </header>
    <section>
        <label for="country">Start typing:</label>
        <input type="text" id="country" placeholder="Countries...">
        <div class="container-fluid">
            <div class="row">
                {% for location in locations %}
                <div class="col-md-12">
                    <h2 class="location-name"><a href="{% url 'location' location.id %}">{{ location.name }}</a></h2>

                    <p>
                        {% for i in ''|center:5 %}
                            {% if location.avg_score >= forloop.counter %}
                                <i class="fas fa-heart"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                        {% endfor %}
                        {% if not location.has_reviews %}
                        (No reviews yet)
                        {% endif %}
                    </p>
                    <img class="img-border img-fluid border border-5" src="{{ location.image }}" alt="">
                  
                    <p>{{ location.description | safe }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

        <button>Map view</button>
        <select id="city">
            <option value="city">City</option>
            <option value="countryside">Countryside</option>
            <option value="win">Wineries</option>
            <!-- Add more options as needed -->
        </select>
        <input type="checkbox" id="obscure"> Enable obscure/non-touristy locations
        <select id="filter">
            <option value="bad">Bad review</option>
            <option value="good">Good review</option>
            <option value="funny">Funny review</option>
            <!-- Add more filter options here -->
        </select>
        <!-- Display the list of destinations here -->
        <ul>
            <li>Destination 1</li>
            <li>Destination 2</li>
            <!-- Add more destinations -->
        </ul>
    </section>
    <!-- Add any other sections or elements as needed -->
</body>



{% endblock content %}