{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Valentine Ventures</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <svg class="svg-inline--fa fa-bars ms-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path></svg><!-- <i class="fas fa-bars ms-1"></i> Font Awesome fontawesome.com -->
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'destinations' %}">Destinations</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container text-center my-3">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!--Footer goes here-->

        <footer class="py-3 mt-1" style="font-size: small;">
            <ul class="footer-text nav justify-content-center border-bottom pb-1">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-1 text-white">Home</a></li>
            </ul>
            <ul class="footer-text nav justify-content-center border-bottom pb-1">
                <li class="nav-item"><i class="fa-brands fa-github nav-link px-2 text-white"></i></li>
                <li class="nav-item"><a href="https://github.com/violaberg" class="nav-link px-1 text-white">Viola</a></li>
                <li class="nav-item"><a href="https://github.com/SamMartin92" class="nav-link px-1 text-white">Sam</a></li>
                <li class="nav-item"><a href="https://github.com/StephShobiye" class="nav-link px-1 text-white">Steph</a></li>
                <li class="nav-item"><a href="https://github.com/EmilionR" class="nav-link px-1 text-white">Emil</a></li>
                <li class="nav-item"><a href="https://github.com/Declan444" class="nav-link px-1 text-white">Declan</a></li>
                <li class="nav-item"><a href="https://github.com/laurakond" class="nav-link px-1 text-white">Laura</a></li>
                <li class="nav-item"><a href="https://github.com/CMed01" class="nav-link px-1 text-white">Chris</a></li>
                <li class="nav-item"><i class="fa-brands fa-github nav-link px-1 text-white"></i></li>
            </ul>
            <p class="copyright footer-text text-center"> © Valentines Ventures <br><i class="fa-regular fa-heart"></i></p>
        </footer>
      
    <!-- JS script for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Font Aweseme -->
    <script src="https://kit.fontawesome.com/4e6f5ac286.js" crossorigin="anonymous"></script>
</body>
</html>