{% extends "base.html" %}

{% block content %}

<!-- Main button to access site -->

<section class="container text-center mt-3">
    <header>
        <h1>Valentines Ventures</h1>
    </header>
    <p class="lead text-muted">At Valentine Ventures, we're passionate about curating enchanting moments of love. 
        Our destination finder is designed to help lovers discover the most romantic places in the world. 
        Indulge in romantic tales, captivating images and heartfelt reviews from our global community of love. 
        Whether it's the allure of a bustling city, the tranquility of a rural escape, 
        or the charm of a romantic vineyard, our app caters for your individual passions. 
        We believe that every love story deserves a perfect backdrop, and our mission is to make those dreams come true.</p>
    </section>

    <div id="map"></div>
    
    <div class="container text-center my-1">
        <a href="{% url 'destinations' %}" class="btn btn-primary btn-md">Enter the site</a>
    </div>
    
    <!-- Welcome images to line bottom of page -->
    <div class="container text-center my-1">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="../static/images/home-page-collage-heart.png" alt="">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}