{% extends "base.html" %}

{% block content %}

<!-- Main button to access site -->
    <div class="container text-center my-1">
        <a href="{% url 'destinations' %}" class="btn btn-primary btn-md">Enter the site</a>
    </div>
    
    <!-- Welcome images to line bottom of page -->
    <div class="container text-center my-1">
        <div class="container">
            <div class="row">
                <div class="col">image 1</div>
                <div class="col">image 2</div>
                <div class="col">image 3</div>
                <div class="col">image 4</div>
                <div class="col">image 5</div>
            </div>
        </div>
    </div>

{% endblock content %}